body{
  background-color:#242424;
}
ul{
  list-style-type: none;

}
ul li{
  display: inline-block;
  list-style:none;
}
a{
  text-decoration: none;
}
.navbar-custom {
  background-color: #1a1a1a; 
  padding: 15px 30px;
  box-shadow: 0 4px 8px rgba(181, 181, 181, 0.2);
  font-family: sans-serif;
}
.navbar-custom .navbar-brand {
  color: #ff9900;  
  font-size: 1.8rem;  
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif; 
}
.navbar-custom .navbar-brand:hover {
  color: white;
}
.navbar-custom .navbar-nav .nav-link {
  color:white;  
  margin-right: 20px;  
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.navbar-custom .navbar-nav .nav-link:hover {
  color: #ff9900; 
  font-weight: 700;
}
.navbar-custom .navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0; 
  width: 0;
  height: 2px; 
  background-color: #ff9900; 
  transition: width 0.3s ease-in-out; 
}

.navbar-custom .navbar-nav .nav-link:hover::after {
  width: 100%; 
}

/* Home */
.container-home{
  width: 90%;
  height: 100lvh; 
  margin: auto;
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.container-home .main-home{
  width: 100%;
  height: 80%;
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.container-home .main-home .mytexts{
  color: white;
  margin: auto;
}
.container-home .main-home .mytexts h1{
  font-weight: 700;
  font-size: 50px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
.container-home .main-home .mytexts .subheading{
  font-weight: 700;
  color: #ff9900;
  font-size: 30px;
}

.container-home .main-home .mytexts .icons {
  display: flex; 
  justify-content: center; 
  gap: 20px; 
  margin-top: 20px; 
}


.icons-home {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; 
  color: #ff9900; 
  text-decoration: none; 
  transition: color 0.3s ease-in-out;
  transform: 0.3s ease-in-out;
  width: 50px; 
  height: 50px; 
  border: 2px solid #ff9900; 
  border-radius: 50%;
}


.icons-home:hover {
  color: #ff9900; 
  transform: scale(1.2); 
}

.icons-home::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px; 
  width: 0;
  height: 2px; 
  background-color: #ff9900; 
  transition: width 0.3s ease-in-out; 
}

.icons-home:hover::after {
  width: 100%;
}
.mytexts .btn{
  display: flex; 
  justify-content: center; 
  margin-top: 20px;
  color: #ff9900;
  border-radius: 20px;
}
.btn a{
  color: #ff9900; 
  text-decoration: none;
}

.btn a:hover {
  color: black; 
}
.main-home .myimages{
  display: flex;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.main-home .myimages .images{
  width: 400px;
  height: 400px;  
}
.main-home .myimages .images img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  border: 4px solid #ff9900;
  border-radius: 50%;
  transition: transform 0.3s ease;
  box-shadow: 0 0 40px #ff9900;
}
.main-home .myimages .images img:hover{
  transform: scale(1.2);

}

/* Resume */

.container-resume {
  color: white;
  margin-top: 50px;
}
#resume-section{
  margin-top: 50px;
}
#navi{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
#navi li{
  display: block;
  
}
#navi a{
  color: #ff9900;
  font-weight: 700;
  font-size: 20px;
}

#resume-section .container-resume .heading{
  color: #ff9900;
  font-weight: 800;
  font-size: 30px;
}