body{
  background-color:#242424;
}
.navbar-custom {
  background-color: #1a1a1a; 
  padding: 15px 30px;
  box-shadow: 0 4px 8px rgba(181, 181, 181, 0.2);
}
.navbar-custom .navbar-brand {
  color: #ff9900;  
  font-size: 1.8rem;  
  font-weight: bold;
  font-family: 'Verdana', sans-serif; 
}
.navbar-custom .navbar-nav .nav-link {
  color: #ffffff;  
  margin-right: 20px;  
  font-size: 1rem;
}
.navbar-custom .navbar-nav .nav-link:hover {
  color: #ff9900; 
}